@import "../../styles/settings.scss";

.navbar {
  background-color: darken($color-dark, 3%);
  margin-top: -20px;
}
.navigation {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  color: $color-light;
}
.navigation .icon {
  margin: 25px 0 0 50px;
  font-size: 24px;
}
.navigation a {
  color: $color-light;
  text-decoration: none;
}

.navigation ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-right: 50px;
}

@media all and (max-width: 400px) {
  .navigation .icon {
    margin: 25px 0 0 20px;
  }
  .navigation ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
  }
}

.navigation ul li {
  padding: 10px;
}

.navigation .linkActive {
  color: $color-warning;
}